@use '../styles/utils/vars'; 

.banniere {  /*Texte de droite dans la banniere*/

    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &__img{
       height: 100px;
    }

    &__liens{
        color: rgb(131, 131, 255);
    }

    &__logo{
        display: flex;
        align-items: center;
    }

    &__titre{
        font-weight: bold;
        font-size: x-large;
    }
}

.banniere, 
.banniere__logo,  /*Aligner le logo popcorn avec son texte dans la bannniere*/
section {
    display: flex;
    flex-direction: row;
}

.banniere, 
.banniere__titre,  /*Mise en colonne du texte de droite de la banniere*/
.banniere__p, 
.banniere__liens{
    display: flex;
    flex-direction: column;
}

.degrade{  /*Couleur de fon en degrader radial de la banniere prise sur le site copiée et faite par un generateur*/

    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    width: 95%;
    justify-content: center;
    margin: auto;
    position: absolute; /*Position qui permet de sortir la banniere de sa place*/
    bottom: 50%; /*Positionne la banniere au centre de son referent grace a ces deux valeurs*/
    left: 50%;
    transform: translate(-50%, 180%); //deplace la banniere apres l'avoir fixer precedement pour qu'elle reste immobile en responsive*/
    z-index: 5;

    @media screen and (width < 1280px) {
        position: static;
        transform: none;
        width: 100%;
    }

    @media screen and (width < 800px) {
        width: 95%;
        margin-top: 10px;
        border-radius: 10px;
    }
}

.banniere__logo {

    margin-right: 20px;
}


