@use '../styles/utils/vars';

.footer{
    
    padding: 60px;

    &__block{ /*Block autour des liens et non le footer*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 230px;
    width: 65%;
    margin: auto;
    }

    &__liens{
    margin: .8rem;
    color: rgb(116, 116, 116);
    }

    &__titre{
    padding-left: 325px;
    margin-bottom: 2rem;
    }

    &__p{
        padding-left: 325px;
    }
}

.footer__langue__choix{ /*Bouton choix de la langue*/

    background-color: vars.$lang_bg_color;
    color: vars.$lang_police_color;
    border-radius: vars.$lang_border_radius;
    border-color: vars.$lang_border_color;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2rem;
    margin-left: 325px;
}

@media all and (max-width: 960px) { /* A 1280px et plus la modif suivante seffectuera*/

    .footer__block { /* On vise ces classes pour effectuer un changement */
        
        margin: 0%;
        display: flex;
        flex-wrap: wrap; /*On demande a passer sur deux colonnes au lieu de quatre*/
        width: 100%;
        height: 450px;

    }

    .footer__titre{ /*On retire les margin et padding suivants*/

        padding: 0%;
    }
    
    .footer__p{

        padding: 0%;
    }

    .footer__langue__choix{

        margin: 0%;
    }
}