
body {
    color: white; /*Couleur generale de la police d'criture*/
    background-color: black; /*Couleur de fond du site*/
}

p{
    font-size: large; /*La police d'ecriture des paragraphes est plus grande*/
    font-weight: bold; /*La police d'ecriture des paragraphes est en gras*/
}

.img-content-container { /*Container ou l'img est a droite et le texte a gauche*/
    width: 70%; /*Le container prens 70% de son parent*/
    display: flex;
    margin: 60px auto; /*On lui applique un margin verticale de 60px et auto pour l'horizontale*/
}

.img-content-container.reverse { /*Container ou sont inverser img et texte*/
    flex-direction: row-reverse;
}

.tv__text, /*La partie texte dois faire 50% de son parent img-content-container ou img-content-container.reverse*/
.support__text,
.profils__text,
.telecharger__text {
    width: 50%;
}

.tv__animation, /*La partie texte dois faire 50% de son parent img-content-container ou img-content-container.reverse*/
.support__animation, 
.profils__animation, 
.telecharger__animation {
    width: 50%;

    img {
        width: 100%; /*Certaine img sont trops grandes donc on les obligent a prendre 100% de la taille de leur balise parent*/
    }
} 

@media all and (max-width: 1280px) { /* A 1280px et plus la modif suivante seffectuera*/

    .img-content-container, .img-content-container.reverse, html { /* On vise ces classes pour effectuer un changement */
    width: 100%; /* On souhaite que ces classes prennent 100% de la taille de leurs balises parents*/
    }
}

@media all and (max-width: 960px) { /* A 960px et moins la modif suivante seffectuera*/
    
    .img-content-container, .img-content-container.reverse, html { /* On vise ces classes pour effectuer un changement */
    display: flex;
    flex-direction: column; /* On souhaite que ces classes se mettent en colonne*/
    width: 100%; /* On souhaite que ces classes prennent 100% de la taille de leurs balises parents*/
    
    .intro__titre{
        font-size: 30px;
    }
}

}