@use '../styles/utils/vars';

header{
    background-image: url(../../image/FR-fr-20231106-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 700px;
    position: relative;
}

.nav, .nav__titre, .nav__langue1, .nav__langue__bouton1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{

    &__identifier{
        background-color: vars.$red_color;
        border-radius: vars.$radius;
        color: vars.$white_color;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        margin-right: 350px;
        font-size: 14px;
        padding-left: 14px;
        padding-right: 14px;
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 20px;

    }

    &__choix{
        background-color: transparent;
        color: vars.$white_color;
        border-radius: vars.$radius;
        border-color: vars.$white_color;
        font-weight: bold;
        margin-top: 28px;
        margin-bottom: 28px;
        padding-left: 25px;
        padding-right: 25px;    
    }

    &__titre{
        font-size: xxx-large;
        color: vars.$red_color;
        text-transform: uppercase;
        font-weight: bold;
        margin: vars.$rem;
        margin-left: 370px;
    }
}

.intro{

    position: absolute;
    left: 60px;
    top: 250px;
    color: vars.$white_color;
    display: flex;
    align-items: center;
    text-align: center;

    &__titre{
        font-size: xxx-large;
        font-weight: bold;
        width: 58%;
        margin-bottom: 1.5rem;
        line-height: 4rem;
    }
    
    &__p2{
        width: 45%;
        margin-bottom: vars.$rem;
        margin-top: 1.5rem;
    }

    &__mail__bouton{
        background-color: vars.$red_color;
        border-radius: vars.$radius;
        color: vars.$white_color;
        text-decoration: none;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 16px;
        padding-left: 30px;
        padding-right: 30px;
        font-size:x-large;
    }

    &__mail__label{
        padding: 18px;
        background-color: transparent;
        border-color: rgb(182, 182, 182);
        border-radius: vars.$radius;
        padding-right: 180px;
        background-color: rgba($color: #131212, $alpha: 0.5);  
    }
}

input::placeholder {
      
    color: rgb(182, 182, 182);
  }

.intro, .intro__mail{
    display: flex;
    flex-direction: column;
}



