@use '../styles/utils/vars';

header{
    background-image: url(../../image/FR-fr-20231106-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 700px;
    //position: relative; /*la banniere se deplace par rapport au header*/
}

.nav, .nav__titre, .nav__langue1, .nav__langue__bouton1{ /*on aligne le logo avec les boutons langue et connexion*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{

    padding-top: 1rem;
    padding-left: 23rem;
    padding-right: 23rem;
    padding-bottom: 10rem;

    &__identifier{ /*bouton connexion*/
        background-color: vars.$bouton_couleur_bg;
        border-radius: vars.$bouton_border_radius;
        color: vars.$bouton_couleur_police;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        padding-left: 14px;
        padding-right: 14px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 1rem;
    }

    &__choix{ /*bouton choix de langue*/
        background-color: vars.$lang_bg_color;
        color: vars.$lang_police_color;
        border-radius: vars.$lang_border_radius;
        border-color: vars.$lang_border_color;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 25px;    
    }
    &__titre{
        width: 20%; /*La taille du logo influance egalement la taille des boutons choix de langue et connexion*/
    }
}



.intro{

    color: white;
    display: flex;
    align-items: center;
    text-align: center;

    &__titre{
        font-size: xxx-large;
        font-weight: bold;
        width: 58%;
        margin-bottom: 1.5rem;
        line-height: 4rem;
    }
    
    &__p2{
        width: 45%;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    &__mail__bouton{ /*bouton de validation du mail*/
        background-color: vars.$bouton_couleur_bg;
        border-radius: vars.$bouton_border_radius;
        color: vars.$bouton_couleur_police;
        text-decoration: none;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
        font-size:x-large;
        margin-left: 1rem;
    }

    &__mail__label{ /*espace de saisie du mail*/
        padding: 18px;
        background-color: vars.$mail_bg_color;
        border-color: vars.$mail_border_color;
        border-radius: vars.$mail_border_radius;
        padding-right: 180px;
    }
}

input::placeholder { /*on cible les mots dans la case de saisie du mail (adresse e-mail)*/
      
    color: vars.$mail_placeholder_color;
  }

.intro, .intro__mail{
    display: flex;
    flex-direction: column;
}



