@use '../styles/utils/vars';

.tv{
    margin-top: 5rem;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    padding: 3rem 8rem;
    
    &__img{
        width: 80%;
        margin-bottom: 4rem;
    }

    &__titre{

        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 1rem;
        width: 80%;
    }

    &__text{
        width: 30%;
    }
}


