@use '../styles/utils/vars';

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);
    width: 80%;
    margin: auto;


    &__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    &__questions{ /*on travaille les cases qui entourent les questions*/
        color: white;
        font-weight: bold;
        border: solid;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 2rem;
        margin-bottom: 0.5rem;
        background-color: rgb(65, 65, 65);
        width: 80%;
        margin: auto;
    }

    &__p{
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 50%;
        text-align: center;
    }

    &__btn__bouton{ /*bouton de validation du mail*/
        background-color: vars.$red_color;
        border-radius: vars.$radius;
        color: vars.$white_color;
        text-decoration: none;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
        font-size:x-large;
        margin-left: 1rem;
    }

    &__btn__label{ /*champs de saisie du mail*/
        padding: 18px;
        background-color: transparent;
        border-color: rgb(182, 182, 182);
        border-radius: vars.$radius;
        padding-right: 180px;
        background-color: rgba($color: #131212, $alpha: 0.5);  
        margin-bottom: 4rem;
    }

    &__reponses{ /*texte qui se deplie quand on passe la souris sur les questions*/
        max-height: 0; /*sert pour faire le depliant*/
        transition: max-height 1s ease-in; /*sert pour faire le depliant*/
        overflow: hidden; /*sert pour faire le depliant*/
        color: white;
        border: solid;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(65, 65, 65);
        padding-left: 10px;
        width: 83.5%;
        margin: auto;
    }
}

.faq__boite:hover .faq__reponses{ /*sert pour faire le depliant*/
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.faq, .faq__questions, .faq__span{ /*met un ecart entre la question et le logo en forme de croix*/

    display: flex;
    justify-content: space-between;
}

