/*Superposition l'accueil netflex avec la tv*/
.tv__animation{

    position: relative;
}

.video__tv {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    z-index: -1;
    width: 80%;
}

/*Superposition bande annonce avec l'ordinateur*/
.support__animation{

    position: relative;
}

.video__pc{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: -1;
    width: 60%;
}

/*On travail la banderole de la section telecharger*/

.telecharger__banderole{

    display: flex;
    border: solid;
    border-radius: 10px;
    border-color: gray;
    background-color: black;
    width: 20%;

    &__miniature{

        width: 15%;
        padding: 5px;
    }

}

.telecharger__dl{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;

    h3{
        font-weight: bold;
        font-size: large;
    }

    p{
        color: rgb(76, 76, 255);
    }

}



/*Superposition de la banderole telecharger*/
.telecharger{

    position: relative;
}

.telecharger__banderole{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135%, 130%);
    z-index: 5;

}

/**/

.profils{
   /* border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);*/

    /*&__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }*/

    /*&__titre{
        font-size: xxx-large;
        font-weight: bold;
        width: 80%;
        margin-bottom: 2rem;
    }*/

    /*&__p{

        
    }*/
}

/**/

.support{
   /* border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);*/

    /*&__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }*/

    /*&__text{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }*/


}

/**/

.telecharger{

    /*border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);*/

   /* &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }*/

    /*&__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 2rem;
    }*/
}

/**/

.tv{
    margin-top: 5rem;
    /*border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);*/

    


    /*&__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }*/

    /*&__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 2rem;
    }*/
}

.tv, .support, .profils, .telecharger{

    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);

    &__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__p{
        width: 60%;
        line-height: 30px;
    }
    
    &__img{
        width: 80%;
    }
}