@use '../styles/utils/vars';

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(54, 54, 54);
    width: 100%;

    &__boite {
        width: 60%;
    }

    &__titre{
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    &__questions{ /*on travaille les cases qui entourent les questions*/
        font-weight: bold;
        border: vars.$faq_border;
        border-width: 1px;
        border-color: vars.$faq_border_color;
        padding: 2rem;
        margin: auto;
        border: solid;
        border-width: 1px;
        background-color: vars.$faq_bg_color;
            text-decoration: none;
            color: vars.$faq_police_color;
    }

    &__p{ 
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 50%;
        text-align: center;
    }

    &__btn__bouton{ /*bouton de validation du mail*/
        background-color: vars.$bouton_couleur_bg;
        border-radius: vars.$bouton_border_radius;
        color: vars.$bouton_couleur_police;
        text-decoration: none;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
        font-size:x-large;
        margin-left: 1rem;
    }

    &__btn__label{ /*champs de saisie du mail*/
        padding: 18px;
        background-color: vars.$mail_bg_color;
        border-color: rgb(182, 182, 182);
        border-radius: vars.$mail_border_radius;
        padding-right: 180px;
        background-color: vars.$mail_bg_color;  
        margin-bottom: 4rem;
    }

    

    &__reponses{ /*texte qui se deplie quand on passe la souris sur les questions*/
        max-height: 0; /*sert pour faire le depliant*/
        transition: max-height 1s ease-in; /*sert pour faire le depliant*/
        overflow: hidden; /*sert pour faire le depliant*/
        color: vars.$faq_police_color;
        border: solid;
        border-width: vars.$faq_border;
        border-color: vars.$faq_border_color;
        text-decoration: none;
        background-color: vars.$faq_bg_color;
        padding-left: 10px;
        margin: auto;

        p {
            color: red;
            padding: 10px;
        }
    }
}

.faq__boite:hover .faq__reponses{ /*sert pour faire le depliant*/
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.faq, .faq__questions, .faq__span{ /*met un ecart entre la question et le logo en forme de croix*/

    display: flex;
    justify-content: space-between;
}

